# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/